.banner{
    background-image: linear-gradient(45deg,rgba(251, 28, 28, 0.2),rgba(253,81,2,.2)),url("https://iili.io/2Toccg.png");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: 63%;
}
.banner-text{
    padding-top: 200px;
}
