.single-btn{
    background-color: #f50057;
    border: none;
    color: white;
}
.single-btn:hover{
    background-color: #9f2a53;
    border: none;
    color: white;
}
.blue-btn{
    background-color: #3f51b5;
}
.blue-btn:hover{
    background-color: #1e2c78;
}
.icon-added{
    border: 1px solid rgb(200, 190, 190);
    cursor: pointer;
    margin-left: 20px;
}
.arrow-width{
    width: 50px;
    height: 50px;
    margin-top: 30px;
}